.blog-item {
  border-radius: 20px;
}
.blog-item-caption {
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  background-color: var(--gray);
}
.blog-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 28em;
  min-width: 20em;
}
.blog-button {
  border: 1px solid greenyellow;
  border-radius: 10px;
}
